<p id="alert"><%= alert %></p>
<h3>You have to login before start the Journey!</h3>

<%= bootstrap_form_for sessions_path do |form| %>
  
  <%= form.email_field  :email,
                        autofocus: 'form-control',
                        placeholder: 'email' %>

  <%= form.password_field   :password,
                            autocomplete: "off",
                            class: 'form-control',
                            placeholder: 'password' %>

  <%= form.check_box :remember_me %>

  <%= form.submit "Log In", class: 'form-control login-button' %>

<% end %>