<p id="alert"><%= alert %></p>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h3 class="text-center">You have to login before start the journey!</h3>

        <%= bootstrap_form_for sessions_path do |form| %>
  
          <%= form.email_field  :email,
                                autofocus: 'form-control',
                                placeholder: 'email' %>

          <%= form.password_field   :password,
                                    autocomplete: "off",
                                    class: 'form-control',
                                    placeholder: 'password' %>

          <%= form.check_box :remember_me %>

          <%= form.submit "Start Journey!", class: 'form-control login-button' %>

        <% end %>

    </div>
  </div> 
</div>