<li class="dropdown pc-menu">
    <a id="navbar-collapsible-content" href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span id="user-name"><%= current_user.name %></span>    
        <span class="caret"></span>
        <ul class="dropdown-menu" role="menu">
            <li><%= link to 'Edit Profile', edit_user_sessions_path %></li>
            <li><%= link to 'Log Out', logout_path %></li>
            </ul>
    </a>

</li>

<li class="dropdown-menu mobile-menu" role="menu">
    <li><%= link to 'Edit Profile', edit_user_sessions_path %></li>
    <li><%= link_to 'Log Out', logout_path %></li>
</li>